<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.tictactoe"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:label="TicTacToe"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".DifficultyActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LongModeOpponentActivity"
            android:exported="true" />
        <activity
            android:name=".LongModeRoundsActivity"
            android:exported="true" />
        <activity
            android:name=".LongModeGameActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileSetupActivity"
            android:exported="true" />
        <activity
            android:name=".PhotoUploadActivity"
            android:exported="true" />
    </application>

</manifest>
